body {
	background-color: #f8f8f8;
}

form {
	margin-bottom: 0;
}

.flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center
}

.actor-info {
	justify-content: initial;
}

.actor-photo {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

.actor-films {
	margin-top: 2%;
}

.btn-group form {
	display: inline
}

.controls-panel {
	width: 100%;
}

.actors-list {
	width: 65%;
}

.text-btn {
	background-color: #fff;
	border: none;
	font-weight: bold;
	padding: 0;
}

.container {
	margin-top: 1%;
	width: 560px;
}

.film-title:hover .edit-film {
	display: inline;
}

.edit-film {
	display: none;
	margin-left: 2%;
	padding: 1%;
	transition: .2s;
	border: 1px solid #fff;
	border-radius: 6px;
}

.edit-film:hover {
	background-color: #f8f8f8;
	border-color: #ccc;
	cursor: pointer;
}